spring:
  application:
    name: facturacion
  datasource:
    url: jdbc:h2:mem:facturacion;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  h2:
    console:
      enabled: true
      path: /h2-console

security:
  jwt:
    secret: ${JWT_SECRET:change-me-in-prod}
    expiration: 3600000 # 1 hora

server:
  port: 8080

logging:
  level:
    org.springframework.security: INFO
    org.hibernate.SQL: DEBUG

cors:
  enabled: true
